* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 25px;
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
}

.umsatz {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #2e7d32;
}

.eingabe {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  max-width: 300px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #256428;
}
