* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container {
  padding: 25px;
  width: 100%;
  height: fit-content;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.icon {
    font-size: 20vw;
    margin-bottom: 0;
}

h1 {
  margin-top: 0;
  font-size: 12vw;
  margin-bottom: 10vw;
}

.umsatz {
  font-size: 18vw;          /* Sehr groß auf Handy, skaliert mit Breite */
  font-weight: bold;
  margin-bottom: 5vh;       /* Abstand proportional zur Höhe */
  color: #2e7d32;
}

.eingabe {
  display: flex;
  gap: 3vw;                 /* Abstand zwischen Input und Button */
  width: 100%;              /* volle Breite */
  margin-bottom: 5vh;       /* Abstand nach unten */
}

input {
  flex: 1;
  padding: 2.5vh 2vw;       /* vertikal/horizontal proportional */
  font-size: 5vw;           /* Text skaliert mit Bildschirmbreite */
  border-radius: 2vw;
}

button {
  padding: 2.5vh 4vw;       /* vertikal/horizontal proportional */
  font-size: 5vw;           /* Text skaliert */
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 2vw;
  cursor: pointer;
}

button:hover {
  background: #256428;
}
